/* Variables */

:root {
  --basic-black: #283136;
  --accent-black: #000000;
  --special-black: #444444;
  --basic-grey: #eeeeee;
  --special-grey: #666666;
  --hover-grey: #dfdfdf;
  --active-grey: #d5d5d5;
  --current-grey: #dbdbdb;
  --border-grey: #c4c4c4;
  --input-static: #d7dcde;
  --input-hover: #b4b9bb;
  --basic-red: #fb565a;
  --hover-red: #e74246;
  --active-red: #d7373b;
  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --active-green: #00aa62;
  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --active-yellow: #e5a722;
  --basic-white: #ffffff;
  --hover-white: rgba(255, 255, 255, 0.3);
  --hover-black: rgba(0, 0, 0, 0.3);
  --shadow: rgba(0, 1, 1, 0.1);
  --drop-shadow: rgba(0, 0, 0, 0.25);
}

/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Global */

.page {
  width: 100%;
}

.page-body {
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*::before {
  vertical-align: middle;
}

/* Navigation */

.page-header {
  background-color: var(--basic-grey);
}

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  margin: 0;
  padding: 0;
  padding-top: 49px;
}

.navigation-item a,
.current,
.cart {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--accent-black);
  padding: 0;
  margin: 0;
}

.navigation-item a:hover,
.cart:hover {
  color: var(--basic-red);
}

.navigation-item a:active,
.cart:active {
  color: var(--accent-black);
  opacity: 0.3;
}

.site-navigation {
  margin: 0;
  padding: 0;
  justify-self: center;
}

.logo-inner:hover {
  opacity: 0.7;
}

.logo-inner:active {
  opacity: 0.3;
}

.cart {
  justify-self: end;
}

/* Page Title, Slider */

.wrapper {
  background-color: var(--basic-grey);
}

.container .inner-page-header {
  text-align: center;
  padding-bottom: 108px;
}

.slider {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

slider-item p {
  width: 540px;
}

.slider-item-header {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.slider-item-text {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.slider-button {
  padding: 16px 54px;
  margin: 0;
  margin-bottom: 80px;
}

.slider-item-header,
.inner-page-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--accent-black);
}

.slider-item-phones {
  min-height: 431px;
  background-image: url('../img/slide-1.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider-item-monoblocks {
  min-height: 431px;
  background-image: url('../img/slide-2.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider-item-tablets {
  min-height: 431px;
  background-image: url('../img/slide-3.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider-switcher-list {
  padding: 0;
  margin: 0;
}

/* Buttons */

.button {
  display: inline-block;
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.slider-button,
.contacts-button,
.sites-button,
.modal-button,
.price-button {
  background-color: var(--basic-red);
}

.slider-button:hover,
.contacts-button:hover,
.sites-button:hover,
.modal-button:hover,
.price-button:hover {
  background-color: var(--hover-red);
}

.slider-button:active,
.contacts-button:active,
.sites-button:active,
.modal-button:active {
  background-color: var(--active-red);
  color: var(--hover-white);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.price-button:active {
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.apps-button {
  background-color: var(--basic-green);
}

.apps-button:hover {
  background-color: var(--hover-green);
}

.apps-button:active {
  background-color: var(--active-green);
  color: var(--hover-white);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.presentations-button {
  background-color: var(--basic-yellow);
}

.presentations-button:hover {
  background-color: var(--hover-yellow);
}

.presentations-button:active {
  background-color: var(--active-yellow);
  color: var(--hover-white);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.filter-button,
.pagination-button {
  color: var(--accent-black);
  background-color: var(--basic-grey);
}

.filter-button:hover,
.pagination-button:hover {
  background-color: var(--hover-grey);
}

.filter-button:active,
.pagination-button:active {
  background-color: var(--active-grey);
  color: var(--hover-black);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.pagination-button-current {
  display: block;
  background-color: transparent;
  border-radius: 3px;
  border: 3px solid var(--current-grey);
  width: 57px;
  height: 57px;
}

/* Services */

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-black);
}

.services-sites::before {
  content: url('../img/web-sites.png');
  width: 300px;
  height: 146px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.services-apps::before {
  content: url('../img/apps.png');
  width: 300px;
  height: 146px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.services-presentations::before {
  content: url('../img/presentations.png');
  width: 300px;
  height: 146px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 360px;
  padding: 0;
  padding-top: 39px;
  padding-bottom: 73px;
  margin: 0;
  border-top: 2px solid var(--basic-grey);
}

/* About */

.about-header {
  margin: 0;
  margin-bottom: 32px;
  margin-top: 73px;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--accent-black);
}

.about-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.about h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-list {
  padding: 0;
  margin: 0;
}

.about-item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 24px;
}

.about-item:last-child {
  margin: 0;
}

.about-item::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

/* Statistics */

.statistics-header {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.statistics-header::before {
  content: url('../img/logo-inner.png');
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  width: 360px;
  height: 208px;
}

.statistics-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

.statistics-item dd {
  margin: 0;
  line-height: 18px;
}

.statistics-item dt {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: super;
}

/* Clients */

.clients-list {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 44px;
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
}

.clients-item {
  height: 90px;
  position: relative;
  justify-self: center;
  margin: 0;
  padding: 0;
}

.clients-item img {
  opacity: 0.2;
}

.clients-item img:hover {
  opacity: 1;
}

.clients-item img:active {
  opacity: 0.1;
}

/* Page-inner Grid */

.page-inner-columns {
  display: grid;
  grid-template-columns: 260px 1fr;
}

/* Filters */

.filters {
  padding: 0;
  margin: 0;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-black);
}

.filter-form label {
  line-height: 20px;
}

.filter-priceslider {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-priceslider input {
  color: var(--basic-black);
}

.filter-option {
  display: none;
}

.filter-option:hover + label {
  cursor: pointer;
}

.filter-checkbox:checked + label::before {
  content: ' ';
  display: inline-block;
  margin-right: 11px;
  width: 25px;
  height: 25px;
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
}

.filter-checkbox + label::before {
  content: ' ';
  display: inline-block;
  margin-right: 11px;
  width: 25px;
  height: 25px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-radio:checked + label::before {
  content: ' ';
  display: inline-block;
  margin-right: 11px;
  width: 25px;
  height: 25px;
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
}

.filter-radio + label::before {
  content: ' ';
  display: inline-block;
  margin-right: 11px;
  width: 25px;
  height: 25px;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-option:disabled + label {
  opacity: 0.3;
}

.filter-checkbox:hover + label::before,
.filter-radio:hover + label::before {
  opacity: 1;
}

/* Sort */

.sort {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  align-content: start;
}

.sort-header {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-black);
}

.sort-list {
  justify-self: end;
  margin: 0;
  padding: 0;
}

.sort-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--accent-black);
  opacity: 0.3;
}

.sort-item a:hover {
  opacity: 0.6;
}

.sort-item a:not([href]),
.sort-item a:active {
  opacity: 1;
}

/* Catalog */

.catalog {
  margin-left: 140px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.item-picture {
  display: block;
  width: 358px;
  height: 578px;
  border: 1px solid var(--border-grey);
  border-radius: 0px 0px 5px 5px;
}

.item-hat {
  width: 360px;
  height: 40px;
  background-image: url('../img/browser.png');
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-item {
  margin-bottom: 32px;
}

.catalog-item:hover .item-hat {
  opacity: 1;
}

.catalog-item:hover .item-picture {
  border: none;
  box-shadow: 0 6px 15px 0 var(--drop-shadow);
}

.catalog-item:hover .catalog-item-description {
  display: block;
}

.catalog-item-description {
  display: none;
  width: 360px;
  height: 231px;
  border-radius: 0px 0px 5px 5px;
  background-color: var(--basic-grey);
}

.catalog-item-description h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accent-black);
}

.catalog-item-description h3:hover {
  color: var(--basic-red);
}

.catalog-item-description h3:active {
  color: var(--accent-black);
  opacity: 0.3;
}

.description-text {
  line-height: 18px;
  color: var(--special-grey);
}

/* Pagination */

.pagination-list {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
}

/* Footer */

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts p {
  color: var(--special-grey);
}

.contacts-phone {
  color: inherit;
}

/* Social */

.social {
  height: 217px;
  display: grid;
  grid-template-columns: 261px 1fr;
  column-gap: 139px;
  margin: 0;
  padding: 0;
}

.social-list {
  align-self: center;
  margin: 0;
  padding: 0;
}

.social-header {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  padding-top: 75px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social-text {
  line-height: 22px;
  color: var(--special-black);
  padding: 0;
  margin: 0;
}

/* Modal */

.modal h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}

.contact-us-form label {
  font-weight: 700;
}

.contact-us-form input,
.contact-us-form textarea {
  font: inherit;
  color: var(--special-black);
  border-radius: 3px;
  border: 2px solid var(--input-static);
}

.contact-us-form input:hover,
.contact-us-form textarea:hover {
  border-color: var(--input-hover);
}

.contact-us-form input:focus,
.contact-us-form textarea:focus {
  border-color: var(--accent-black);
}

.contact-us-form input:invalid {
  border-color: var(--basic-red);
}
