/* Variables */

:root {
  --basic-black: #283136;
  --accent-black: #000000;
  --special-black: #444444;
  --basic-grey: #eeeeee;
  --special-grey: #666666;
  --hover-grey: #dfdfdf;
  --active-grey: #d5d5d5;
  --current-grey: #dbdbdb;
  --border-grey: #c4c4c4;
  --range-grey: #D7DCDF;
  --browser-grey: rgba(77, 77, 77, 0.12);
  --range-button-grey: #ABABAB;
  --social-grey: #E1E1E1;
  --input-static: #d7dcde;
  --input-hover: #b4b9bb;
  --basic-red: #fb565a;
  --hover-red: #e74246;
  --active-red: #d7373b;
  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --active-green: #00aa62;
  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --active-yellow: #e5a722;
  --basic-white: #ffffff;
  --hover-white: rgba(255, 255, 255, 0.3);
  --hover-black: rgba(0, 0, 0, 0.3);
  --shadow: rgba(0, 1, 1, 0.1);
  --drop-shadow: rgba(0, 0, 0, 0.25);
  --range-button-shadow: rgba(0, 0, 0, 0.15);
}

/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Global */

.page {
  width: 100%;
}

.page-body {
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*::before {
  vertical-align: middle;
}

/* Navigation */

.page-header {
  background-color: var(--basic-grey);
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  padding-top: 49px;
}

.main-logo {
  width: 160px;
  height: 66px;
}

.navigation-item a,
.current-item,
.cart {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--accent-black);
  padding: 0;
  margin: 0;
}

.navigation-item a:hover,
.cart:hover {
  color: var(--basic-red);
}

.navigation-item a:active,
.cart:active {
  color: var(--accent-black);
  opacity: 0.3;
}

.site-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 25px;
  margin-right: -45px;
  padding: 0;
}

.current-item {
  position: relative;
}

.current-item::after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -35px;
  content: "";
  width: 70px;
  height: 2px;
  background-color: var(--basic-red);
}

.navigation-item {
  margin-right: 45px;
}

.user-navigation {
 display: flex;
 flex-wrap: wrap;
 margin-top: 25px;
}

.cart {
  position: relative;
  padding-left: 40px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.logo-inner {
  width: 160px;
  height: 66px;
}

.logo-inner:hover {
  opacity: 0.7;
}

.logo-inner:active {
  opacity: 0.3;
}

.cart {
  justify-self: end;
}

/* Page Title, Slider */

.wrapper {
  background-color: var(--basic-grey);
}

.container .inner-page-header {
  margin: 0;
  padding-top: 78px;
  text-align: center;
  padding-bottom: 108px;
  margin-bottom: 55px;
}

.slider {
  position: relative;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.slider-item-list {
  display: grid;
  margin: 0;
  padding: 0;
}

.slider-item {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: none;
}

.current-slide {
  display: block;
}

.slider-item p {
  width: 540px;
}

.slider-item-header {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 78px;
}

.slider-item-text {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.slider-button {
  padding: 17px 54px 15px 54px;
  margin: 0;
  margin-bottom: 80px;
}

.slider-item-header,
.inner-page-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--accent-black);
}

.slider-item-phones {
  min-height: 431px;
  background-image: url('../img/slide-1.png');
  background-repeat: no-repeat;
  background-position: 397px 0;
}

.slider-item-monoblocks {
  min-height: 431px;
  background-image: url('../img/slide-2.png');
  background-repeat: no-repeat;
  background-position: 397px 0;
}

.slider-item-tablets {
  min-height: 431px;
  background-image: url('../img/slide-3.png');
  background-repeat: no-repeat;
  background-position: 397px 0;
}

.slider-controls {
  position: absolute;
  left: 536px;
  bottom: 96px;
  width: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid var(--border-grey);
}

/* Buttons */

.button {
  display: inline-block;
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.slider-button,
.contacts-button,
.sites-button,
.modal-button,
.price-button {
  background-color: var(--basic-red);
}

.slider-button:hover,
.contacts-button:hover,
.sites-button:hover,
.modal-button:hover,
.price-button:hover {
  background-color: var(--hover-red);
}

.slider-button:active,
.contacts-button:active,
.sites-button:active,
.modal-button:active {
  background-color: var(--active-red);
  color: var(--hover-white);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.price-button:active {
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.services-button {
  width: 160px;
  padding: 17px 40px 15px 40px;
  box-sizing: border-box;
}

.apps-button {
  background-color: var(--basic-green);
}

.apps-button:hover {
  background-color: var(--hover-green);
}

.apps-button:active {
  background-color: var(--active-green);
  color: var(--hover-white);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.presentations-button {
  background-color: var(--basic-yellow);
}

.presentations-button:hover {
  background-color: var(--hover-yellow);
}

.presentations-button:active {
  background-color: var(--active-yellow);
  color: var(--hover-white);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.contacts-button {
  max-width: 219px;
  padding: 17px 44px 15px 44px;
}

.range-button {
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--range-button-grey);
  box-shadow: 0px 2px 1px var(--range-button-shadow);
  border: 8px solid var(--basic-white);
  cursor: pointer;
}

.range-button-left {
  position: absolute;
  top: 30px;
  left: 19px;
}

.range-button-right {
  position: absolute;
  top: 30px;
  left: 161px;
}

.filter-button,
.pagination-button {
  color: var(--accent-black);
  background-color: var(--basic-grey);
}

.filter-button:hover,
.pagination-button:hover {
  background-color: var(--hover-grey);
}

.filter-button:active,
.pagination-button:active {
  background-color: var(--active-grey);
  color: var(--hover-black);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.pagination-button {
  max-width: 50px;
  max-height: 50px;
  padding: 17px 20px 15px 20px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-button-next {
  max-width: 260px;
  max-height: 50px;
  padding: 17px 77px 15px 78px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-button-current {
  max-width: 50px;
  max-height: 50px;
  padding: 17px 20px 15px 20px;
  background-color: transparent;
  border-radius: 3px;
  outline: 3px solid var(--current-grey);
  outline-offset: -3px;
}

.filter-button {
  max-width: 260px;
  padding: 17px 89px 15px 88px;
  margin-bottom: 15px
}

.price-button {
  max-width: 200px;
  padding: 17px 72px 15px 72px;
}

.social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--social-grey);
}

.social-item a:hover {
  background-color: var(--basic-red);
}

.social-item a:active {
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.social-item a:active path{
  opacity: 0.3;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-button {
  padding: 17px 83px 15px 83px;
}

/* Services */

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
  row-gap: 50px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.services-item {
  padding-top: 171px;
  width: 300px;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-black);
}

.services-item p {
  margin: 0;
  margin-bottom: 32px;
}

.services-sites {
  background-image: url("../img/web-sites.png");
  background-size: 300px 146px;
  background-position: top center;
  background-repeat: no-repeat;
}

.services-apps {
  background-image: url("../img/apps.png");
  background-size: 300px 146px;
  background-position: top center;
  background-repeat: no-repeat;
}

.services-presentations {
  background-image: url("../img/presentations.png");
  background-size: 300px 146px;
  background-position: top center;
  background-repeat: no-repeat;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 100px;
  padding: 0;
  padding-bottom: 73px;
  margin: 0;
  border-top: 2px solid var(--basic-grey);
}

/* About */

.about-header {
  margin: 0;
  margin-top: 74px;
  margin-bottom: 32px;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--accent-black);
}

.about-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.about h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font: inherit;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-list {
  padding: 0;
  margin: 0;
}

.about-item {
  position: relative;
  margin-left: 35px;
  margin-bottom: 24px;
}

.about-item span {
  display: block;
  position: absolute;
  top: 50%;
  margin-left: -35px;
  width: 25px;
  height: 2px;;
  background-color: var(--basic-red);
}

.about-item:last-child {
  margin-bottom: 0;
}

/* Statistics */

.statistics-header {
  font: inherit;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.statistics-header::before {
  content: url('../img/logo-inner.png');
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 36px;
  width: 360px;
  height: 208px;
}

.statistics-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

.statistics-item dd {
  margin: 0;
  line-height: 18px;
}

.statistics-item dt {
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: super;
}

/* Clients */

.clients-list {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 38px;
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
}

.clients-item {
  justify-self: center;
  margin: 0;
  padding: 0;
}

.clients-item img {
  opacity: 0.2;
}

.clients-item img:hover {
  opacity: 1;
}

.clients-item img:active {
  opacity: 0.1;
}

/* Page-inner Grid */

.page-inner-columns {
  display: grid;
  grid-template-columns: 260px 1fr;
}

/* Filters */

.filters {
  padding: 0;
  margin: 0;
}

.filter-form p {
  margin: 0;
}

.form-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-black);
}

.filter-form label {
  line-height: 20px;
}

.range {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}

.range-header {
  margin-bottom: 48px;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: var(--basic-grey);
  border-radius: 5px;
  box-sizing: border-box;
}

.range-controls .scale {
  height: 2px;
  background: var(--input-static);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-button-grey);
  border-radius: 50%;
  box-shadow: 0px 2px 1px var(--drop-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font: inherit;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px;
  margin-left: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--basic-grey);
  font: inherit;
  box-sizing: border-box;
}

.grid-layout {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
}

.grid-layout-header {
  margin-bottom: 13px;
}

.grid-layout .filter-option:not(:last-child) {
  margin-bottom: 15px;
}

.filter-radio {
  display: flex;
  column-gap: 11px;
  align-items: center;
  cursor: pointer;
}

.filter-radio::before {
  display: block;
  flex-shrink: 0;
  content: " ";
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

input:checked + .filter-radio::before {
  background-image: url("../img/radio-on.svg");
}

input:not(:disabled) + .filter-radio:hover::before {
  opacity: 1;
}

input:disabled + .filter-radio {
  opacity: 0.2;
  cursor: default;
}

.features {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  border: none;
}

.features-header {
  margin-bottom: 14px;
}

.features .filter-option:not(:last-child) {
  margin-bottom: 15px;
}

.filter-checkbox {
  display: flex;
  align-items: center;
  column-gap: 11px;
  cursor: pointer;
}

.filter-checkbox::before {
  display: block;
  content: " ";
  width: 25px;
  flex-shrink: 0;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

input:checked + .filter-checkbox::before {
  background-image: url("../img/checkbox-on.svg");
}

input:not(:disabled) + .filter-checkbox:hover::before {
  opacity: 1;
}

input:disabled + .filter-checkbox {
  opacity: 0.2;
  cursor: default;
}

/* Sort */

.sort {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.sort-header {
  width: 360px;
  margin: 0;
  margin-right: 40px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-black);
}

.sort-type-list {
  width: 320px;
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.sort-direction-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.direction-down {
  display: block;
  width: 10px;
  height: 11px;
  margin-right: 18px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.direction-up {
  display: block;
  width: 10px;
  height: 11px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  cursor: pointer;
}

.sort-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--accent-black);
  opacity: 0.3;
}

.sort-item a:hover {
  opacity: 0.6;
}

.sort-item a:not([href]),
.sort-item a:active {
  opacity: 1;
}

/* Catalog */

.catalog {
  margin-left: 140px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
}

.item-picture::before {
  display: block;
  width: 360px;
  height: 40px;
  content: " ";
  background-image: url("../img/browser.png");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.item-picture img {
  display: block;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid var(--browser-grey);
  border-top: none;
  object-fit: contain;
}

.catalog-item:hover .item-picture::before,
.catalog-item:focus .item-picture::before {
  opacity: 1;
}

.catalog-item:hover .item-picture img,
.catalog-item:focus .item-picture img {
  border: none;
  box-shadow: 0 6px 15px 0 var(--drop-shadow);
}

 .catalog-item:hover .catalog-item-description,
 .catalog-item:focus-within .catalog-item-description {
  display: block;
}

.catalog-item-description {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 360px;
  min-height: 231px;
  padding: 26px 53px 44px 52px;
  border-radius: 0px 0px 5px 5px;
  background-color: var(--basic-grey);
  text-align: center;
}

.catalog-item-description h3 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accent-black);
}

.description-text {
  margin: 0;
  margin-bottom: 32px;
  line-height: 18px;
  color: var(--special-grey);
}

.catalog-item-description h3:hover {
  color: var(--basic-red);
}

.catalog-item-description h3:active {
  color: var(--accent-black);
  opacity: 0.3;
}

/* Pagination */

.pagination {
  grid-column: 2/-1;
  margin-left: 140px;
}

.pagination-list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.pagination-item {
  margin-right: 11px;
}

/* Footer */

.contacts {
  box-sizing: border-box;
  width: 100%;
  height: 416px;
  padding: 54px 0;
  margin-bottom: 68px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
}

.contacts-address {
  max-width: 230px;
  min-height: 212px;
  padding: 49px 39px 47px 50px;
  background-color: var(--basic-white);
}

.contacts h3 {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
}

.contacts-address p {
  line-height: 18px;
  color: var(--special-grey);
}

.contacts-address p:nth-child(3) {
  margin-bottom: 38px;
}

.contacts-phone {
  color: inherit;
}

/* Social */

.social {
  min-height: 81px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 68px;
  padding: 0;
}

.social-list {
  width: 261px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 139px;
  padding: 0;
}

.social-header {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social-text {
  line-height: 22px;
  color: var(--special-black);
  padding: 0;
  margin: 0;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  width: 960px;
  height: 590px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 180px;
}

.modal-content {
  position: relative;
  width: 761px;
  min-height: 443px;
  padding: 63px 99px 84px 100px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal h2 {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  font-size: 45px;
  line-height: 52px;
  font-weight: 700;
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us-form p {
  margin: 0;
  margin-bottom: 34px;
}

.contact-us-form p:nth-child(3) {
  margin: 0;
  margin-bottom: 41px;
}

.contact-us-form label {
  display: block;
  margin-bottom: 9px;
  font-weight: 700;
  line-height: 18px;
}

.contact-us-form input {
  width: 360px;
  height: 50px;
  display: block;
  padding: 16px;
  line-height: 18px;
  box-sizing: border-box;
}

.contact-us-form textarea {
  width: 760px;
  height: 118px;
  padding: 16px;
  line-height: 18px;
  overflow: auto;
  box-sizing: border-box;
}

.contact-us-form input,
.contact-us-form textarea {
  font: inherit;
  color: var(--special-black);
  border-radius: 3px;
  border: 2px solid var(--input-static);
  background-color: transparent;
}

.contact-us-form input:hover,
.contact-us-form textarea:hover {
  border-color: var(--input-hover);
  outline: none;
}

.contact-us-form input:focus,
.contact-us-form textarea:focus {
  border-color: var(--accent-black);
  outline: none;
}

.contact-us-form input:focus::placeholder,
.contact-us-form textarea:focus::placeholder {
  color: var(--special-black);
}

.contact-us-form input:invalid {
  border-color: var(--basic-red);
  color: var(--basic-red);
  outline: none;
}
